*~
*.swp

*.a
*.o
*.obj
*.dll
*.bin
*.exp
*.lib
*.def
*.mo

/src/**/Debug
/src/**/Release
/src/**/*.mak

/sci_gateway/**/Debug
/sci_gateway/**/Release
/sci_gateway/**/*.mak

/macros/lib
/macros/names
/macros/*.bin

/locales/**/LC_MESSAGES

/help/en_US/scilab_en_US_help

